.episodes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.episode{
    background-color: #c3c3e0;
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 10px;
    height: 260px;
    width: 200px;
    padding: 10px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}
