
.Posts {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.Users {
    width: 30%;
    justify-content: center;
}
.User:hover{
    cursor: pointer;
    background-color: #9898c9;
    transition: .1s;
}
.Post:hover{
    cursor: pointer;
    background-color: #9898c9;
    transition: .1s;
}
.Comment{
    border-radius: 10px;
    width: 18%;
    background-color: yellow;
    border: 1px solid blue;
    box-sizing: border-box;
    margin: 5px;
    align-items: center;
    text-align: center;
    height: auto;
}
.Comments{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Post {
    border-radius: 10px;
    width: 18%;
    background-color: yellow;
    border: 1px solid blue;
    box-sizing: border-box;
    margin: 5px;
    align-items: center;
    text-align: center;
    height: auto;
}

.User {

    background-color: yellow;
    border: 1px solid blue;
    box-sizing: border-box;
    margin: 5px;
    align-items: center;
    text-align: center;
    height: auto;
}

.UserPost {
    display: flex;
}