.header {
    min-height: 70px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header a {
    font-size: 30px;
    color: snow;
    text-decoration: none;
}

.footer {
    min-height: 20px;
    background-color: blue;
    color: snow;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.outlet {
    width: 95%;

    margin: 0 auto;
    overflow: initial;
}
.header a[class='active']{
    text-decoration: underline;
    color: red;
}